body, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  height: 100%;
  /*padding: 10px;*/
}

.grid-item {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  border: 5px solid rgb(106 179 154 / 90%);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item:hover {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  border: 5px solid #fb8ee6;
}